h1{
    color:rgba(25, 5, 202, 0.6);
    background-color: rgb(35, 161, 10);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.header{
    border:solid;
}

.menu{
    background-color: royalblue;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer{
    border: solid;
    display:flex;
    justify-content:flex-end;
}
.item{
    display:flex;
    flex-wrap: wrap;
    border:solid;
}

p{
    text-align: center;
    background-color:orange;
}